{% extends 'base-back.html.twig' %}

{% block body %}

<div class="main-content app-content mt-0">
                <div class="side-app">
                      <div class="container">
                           <div class="row">
                                  <div class="col-md-3">
                                      {% include 'marque/_filter.html.twig'  with {form: form} only%}

                                  </div>
                            <div class="col-md-9">
                                                            <div class="grid">
                                                                          {% for marque in marques %}
                                                                               <p><img src="{{ asset('/back/images/')}}{{ marque.image }}" width="100"  /></p>

                                                                            <p>{{ marque.id }}</p>
                                                                                  <p>{{ marque.nom }}</p>
                                                                                  <p>{{ marque.description }}</p>
                                                                                    <p>{{ marque.cat}}</p>
                                                                    

                                                                          {% endfor %}
                                                                   
         
                                                             </div>
                                                                      <div>

  {{ knp_pagination_render(marques) }}  
  </div>
                                        
                                     </div>
                                     
                            
                      </div>
                    
 
</div>
                   
  </div>
                            
                    
{% endblock %}