{% extends 'base-back.html.twig' %}

{% block body %}
<div class="main-content app-content mt-0">
                <div class="side-app">
 
  

    
    <h1 class="h3 mb-2 text-gray-800">Ajouter un Utilisateur

    <div class="form-group">
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="form-group" data-sb-validations="required">
        {{ form_label(form.nom	, ' nom')  }}
        {{ form_widget(form.nom	  ,{'attr': {'class': 'form-control form-control-user' , 'placeholder' : ' Nom'}} ) }}
        {{ form_errors(form.nom ) }}

    </div>
    <div class="form-group" data-sb-validations="required">
        {{ form_label(form.description	, ' description')  }}
        {{ form_widget(form.description	  ,{'attr': {'class': 'form-control form-control-user' , 'placeholder' : ' Description'}} ) }}
        {{ form_errors(form.description ) }}

    </div>
     {{ form_end(form) }}
     </div>
     </div>
     {% endblock %}